{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 48, "knowledge_revision": 182, "git_revision": "", "hash": "77d7c3d0c3539d7be74ce959c8eb2dfc", "format-version": 4, "code-base-name": "default", "filename": "frontend_app_workspace/frontend_app/macos/Flutter/ephemeral/Flutter-Generated.xcconfig", "revision_history": [{"182": ""}]}