{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 65, "knowledge_revision": 197, "git_revision": "", "hash": "e19c2368cf97e5f3eaf8de37cff2b341", "format-version": 4, "code-base-name": "default", "filename": "frontend_app_workspace/frontend_app/macos/Runner/Configs/Warnings.xcconfig", "revision_history": [{"197": ""}]}