{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 127, "knowledge_revision": 254, "git_revision": "", "hash": "a9df2ca9c9f2eb2dc825a7488d919267", "format-version": 4, "code-base-name": "default", "filename": "frontend_app_workspace/frontend_app/windows/runner/Runner.rc", "revision_history": [{"254": ""}]}