{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 64, "knowledge_revision": 201, "git_revision": "", "hash": "e6fde05dec64f9856d3978a4a5e4bf48", "format-version": 4, "code-base-name": "default", "filename": "frontend_app_workspace/frontend_app/macos/Runner/Release.entitlements", "revision_history": [{"201": ""}]}