{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 106, "knowledge_revision": 239, "git_revision": "", "hash": "d2bb2a6fb7f490f6e63c7e89265ab41a", "format-version": 4, "code-base-name": "default", "filename": "frontend_app_workspace/frontend_app/ios/Runner/Info.plist", "revision_history": [{"239": ""}]}