{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 80, "knowledge_revision": 218, "git_revision": "", "hash": "117105d2f2ee718eb485a07574a219b6", "format-version": 4, "code-base-name": "default", "filename": "frontend_app_workspace/frontend_app/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist", "revision_history": [{"218": ""}]}